<nav class="navbar">
    <div class="container">
        <div class="row">
            <div>
                <a class="navbar-brand" routerLink="/">
                    <img src="/tailmates.png" alt="Tailmates" class="navbar-logo">
                </a>
            </div>
            <div class="navbar-links">
                <a routerLink="/">Home</a>
                <a routerLink="/about">About</a>
                <a routerLink="/login">Login</a>
                <a routerLink="/login">Register</a>
            </div>
        </div>
    </div>
</nav>
