.navbar {
    background-color: #fef3f0;
    height: 76px;
    box-shadow: none;
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-logo {
    width: 60px;
    height: auto;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-links a {
    color: #000000;
    font-weight: 500;
}

.menu-button {
    display: none;
    color: #000000;
}

@media (max-width: 768px) {

    .navbar {
        height: 68px;
    }

    .navbar-container {
        padding: 0 16px;
        box-sizing: border-box;
    }

    .navbar-logo {
        width: 60px;
    }

    .navbar-links {
        display: none;
    }

    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


