.home {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-image {
    width: 400px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
    }
}